.todo-content{
  width: 80%;
  margin: 0 auto;
}

.todo-card-content {
  padding: 2px 16px;
  display: flex;
  flex: 4;
  width: 100%;
  border: 1px solid #555;
  font: 14px Arial;
  text-align: center;
  margin: 0 auto;
}

p{
  width: 50%;
}