.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  border: 1px solid black;
  padding: 3vh 3vw;
  margin: 3vh 0;
}

.todo-card {
  background-color: rgb(218, 221, 227);
  padding: 3vh 3vw;
  margin: 3vh 0;
}

.err-msg {
  background-color: rgb(214, 105, 105);
  padding: 20px 50px;
}

.green-btn {
  background-color: rgb(92, 173, 114);
}

.red-btn {
  background-color: rgb(214, 105, 105);
}