$dark-grey: #4a4a4a;
$soft-grey: #b8b8b8;
$white: #fff;

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.App {
  text-align: center;
}

h1 {
  background-color: $dark-grey;
  color: $white;
  padding: 5px;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  textarea, input {
    border: 1px $soft-grey solid;
  }
  textarea {
    height: 50px;
  }
}
