body{
  font-size: 22px;
  background-image: url("https://image.freepik.com/vector-gratis/fondo-rojo-navidad-nevado_1048-3461.jpg");
  background-position: cover;
}
.align-todos{
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-todos1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.details{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn{
  border-radius:10px;
  width:200px;
  margin-top:15px;
  color:white;
  padding: 20px;
  font-size: 30px;
}

#delete{
  background-color: red;
}

#create{
  background-color:orange;
}

.create-task{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin:15px;
}

input {
  border-radius: 10px;
}

textarea{
  border-radius: 10px;
}
.navidad{
  background-color:white;
  margin:80px 500px
}

#navidad{
  background-color:white;
  margin:50px 500px
}





